@model UserPayment.Models.Account

@{
    ViewData["Title"] = "Create Account";    
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
		@using (Html.BeginForm("Create", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()						

			<div class="control-group">
				@Html.LabelFor(m => m.SrcWalletId, new { @class = "col-md-2 control-label" })
				<div class="controls col-md-10">					
                    @Html.DropDownListFor(m => m.SrcWalletId, ViewBag.WalletIds as SelectList)                    					
				</div>											
			</div>

			<div class="control-group">
				@Html.LabelFor(m => m.DstWalletId, new { @class = "col-md-2 control-label" })
                <div class="controls col-md-10">
                    @Html.DropDownListFor(m => m.DstWalletId, ViewBag.WalletIds as SelectList)                    
                </div>
            </div>

			<div class="control-group">
				@Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
                <div class="controls col-md-10">                    
                    @Html.TextBoxFor(m => m.Price, new { type = "number", step = "1" })
                    @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-error" })
                </div>
            </div>

			<div class="control-group">
				@Html.LabelFor(m => m.Comment, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(m => m.Comment)                   
                    @Html.ValidationMessageFor(m => m.Comment, null, new { @class = "text-error" })
                </div>
            </div>

			<div class="control-group">
                <div class="controls">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
		}              
    </div>
</div>

<div>
	@Html.ActionLink("Назад", "Index")    
</div>

@section Scripts {
    @{Html.RenderPartial("_ValidationScriptsPartial");}
}
