@model UserPayment.Models.Account

@{
    ViewData["Title"] = "Create Account";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
		@using (Html.BeginForm("Create", "Accounts", FormMethod.Post, new { @class = "form-horizontal"@*, role = "form"*@ }))
		{
			@Html.AntiForgeryToken()			
			@Html.ValidationSummary(true)//, "", new { @class = "text-danger" })			
			//<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@*<input type = "hidden" name = "Id" value = @Model.Id />*@

			<div class="form-group">
				@Html.LabelFor(m => m.SrcWalletId, "Кошелёк-отправитель:", new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					@Html.EditorFor(m => m.SrcWalletId, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.SrcWalletId)
					@*<span asp-validation-for="SrcWalletId" class="text-danger"></span>*@
				</div>
				@*@Html.DropDownList("Id", ViewBag.WalletIds as SelectList)*@								
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.DstWalletId, "Кошелёк-получатель:", new { @class = "control-label" })
				@Html.EditorFor(m => m.DstWalletId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DstWalletId)
				@*<span asp-validation-for="DstWalletId" class="text-danger"></span>*@
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Price, "Сумма:", new { @class = "control-label" })
				@Html.EditorFor(m => m.Price, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Price)
				@*<span asp-validation-for="Price" class="text-danger"></span>*@
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Comment, "Комментарий:", new { @class = "control-label" })
				@Html.EditorFor(m => m.Comment, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Comment)
				@*<span asp-validation-for="Comment" class="text-danger"></span>*@
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		}              
    </div>
</div>

<div>
	@Html.ActionLink("Назад", "Index")    
</div>

@section Scripts {
    @{Html.RenderPartial("_ValidationScriptsPartial");}
}
